* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

/*header*/

header {
    background-color: whitesmoke;
}

.menu{
    background-color: whitesmoke;
}

.btn{
    margin-top: 15px;
}

/*footer*/

footer{
    display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    padding: 1em;
    text-align: left;
    background: whitesmoke;
    color: black;
}

footer h2{
    margin: .5em;
}

footer ul{
    display: flex;
        flex-flow: column wrap;
    
}

.footerForm form{
    margin-bottom: 0;
    display: flex;
        flex-direction: row;
        align-items: center;
}

.footerForm input{
    margin: 0;
    padding: .5em;
    width: fit-content;
}

.dropdown{
    margin-top: 20px;
}


/*main*/

.tituloPaginaPrincipal {
    color: black;
    font-size: 30px;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 20px;
}

#imagenes{
    display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-around;
    margin-bottom: 20px;
}

.imagenUno{
    width: 200px;
    transition: all 2s;
}

.imagenDos{
    width: 200px;
    transition: all 2s;
}

.imagenTres{
    width: 200px;
    transition: all 2s;
}

.imagenCuatro{
    width: 200px;
    transition: all 2s;
}

.imagenUno:hover{
    width: 300px;
    margin-left: 50px;
}

.imagenDos:hover{
    width: 300px;
}

.imagenTres:hover{
    width: 300px;
}

.imagenCuatro:hover{
    width: 300px;
    margin-right: 50px;
}

#chequeo {
    text-align: center;
    color: rgb(38, 38, 44);
    border: 2.5px solid black;
    margin-top: 30px;
    margin-right: 400px;
    margin-left: 400px;
}

.tablaDeProductos {
    text-align: center;
    border: solid;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 100px;
    margin-left: 100px;
}

#formulario {
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
}

#empresa {
    text-align: center;
}


/*pagina artistas*/

#contenerdor{
    font-family: 'Times New Roman', Times, serif;
}

#artistas{
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
}

.parte1{
    @extend #artistas ;
}

.parte2{
    @extend #artistas ;
}

.contactate{
    @extend #artistas ;
    border: 5px solid lightblue;
    margin-left: 150px;
    margin-right: 75px * 2;
    margin-bottom: 60px-30px;
}
